{% extends 'base.html'%}

{% block content %}

{% if page == 'login' %}

<div class="auth">
  <div class="card">
    <div class="auth__header text-center">
      <!-- add an image here if possible -->
      <h3>Account Login</h3>
      <p>Hello Developer, Welcome!</p>
    </div>
    <form method="POST" action="" class="form auth__form">
      {% csrf_token %}
      <div class="form__field">
        <label for="formInput#text">Username: </label>
        <input
          class="input input--text"
          id="formInput#text"
          type="text"
          name="username"
          placeholder="Enter username"
        />
      </div>

      <div class="form__field">
        <label for="formInput#password">Password: </label>
        <input
          class="input input--password"
          id="formInput#passowrd"
          type="password"
          name="password"
          placeholder="password"
        />
      </div>
      <div class="auth__actions">
        <input class="btn btn--sub btn--lg" type="submit" value="Log In" />
        
      </div>
    </form>
    <div class="auth__alternative">
      <p>Don’t have an Account?</p>
      <a href="{% url 'register' %}">Sign Up</a>
    </div>
  </div>
</div>

{% elif page == 'register' %}
<div class="auth">
  <div class="card">
    <div class="auth__header text-center">
    
      <h3>Account SignUp</h3>
      <p>Create a new developer account</p>
    </div>

    <form action="{% url 'register' %}" method="POST" class="form auth__form">
      {% csrf_token %}
      {% for field in form %}
      <div class="form__field">
        {{ field.as_field_group }}

        <!-- <label for="formInput#text">{{field.label}} </label>
        {{field}}

        {% for error in field.errors %}
        <p style="color: red;">{{ error }}</p> -->
        <!-- {% endfor %} -->
      </div>
      {% endfor %}

      <div class="auth__actions">
        <input class="btn btn--sub btn--lg" type="submit" value="Register" />
      </div>
    </form>

    <div class="auth__alternative">
      <p>Already have an Account?</p>
      <a href="{% url 'login' %}">Log In</a>
    </div>
  </div>
</div>

{% endif %}

{% endblock %}
