{% extends 'base.html'%}

{% block content %}

{% if page == 'login' %}
<h5>Login here</h5>
<form method="POST" action="{% url 'login' %}">
    {% csrf_token %}
    <input type="text" name="username" placeholder="Enter Username"/><br>
    <input type="password" name="password" placeholder="Enter password"/><br>
    <input type="submit" value="Login" /><br>
    <p>Register <a href="{% url 'register' %}">here</a></p>
</form>
{% elif page == 'register' %}
<h5>Register here</h5>
<form method="POST" action="{% url 'register' %}">
    {% csrf_token %}
    {{form.as_p}}
    <!-- <input type="text" name="username" placeholder="Enter Username"/><br>
    <input type="password" name="password" placeholder="Enter password"/><br>
    <input type="password" name="password" placeholder="Confirm password"/><br>-->
    <input type="submit" value="Register" /><br>
    <p>Have an account? <a href="{% url 'login' %}">Login here</a></p>
</form>
{% endif %}

{% endblock %}
