{% extends 'base.html' %}

{% block content %}

<h1>Edit Account {{ user.username }}</h1>
<!-- <form method="POST" action="{% url 'edit_account' %}" enctype="multipart/form-data">
{% csrf_token %}
{% for field in form %}
{{field.as_field_group}}<br>
{% endfor %}
<input type="submit" value="Submit"/>
</form> -->
    <!-- Main Section -->
    <main class="formPage my-xl">
        <div class="content-box">
            <div class="formWrapper">
                <a class="backButton" href="#"><i class="im im-angle-left"></i></a>
                <br>
                <form class="form" method="POST" action="{% url 'edit_account' %}" 
                                    enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form %}   
                    <div class="form__field">
                        {{field.as_field_group}}<br>
                        <!-- <label for="formInput#text">Text Field: </label>
                        <input class="input input--text" id="formInput#text" type="text" name="text"
                            placeholder="Enter text" /> -->
                    </div>
                    {% endfor %}
                    <input class="btn btn--sub btn--lg  my-md" type="submit" value="Submit" />
                </form>
            </div>
        </div>
    </main>

{% endblock content %}