{% extends 'base.html' %}

    {% block content %}

    <table>
        <tr>
            <th>ID</th>
            <th>Project</th>
            <th>Votes</th>
            <th>Ratio</th>
            <th>Created</th>
            <th>Link</th>
        </tr>
        {% for project in projects%}
        <tr>
           
            <td>{{project.id}}</td>
            <td>{{project.title}}</td>
            <td>{{project.vote_total}}</td>
            <td>{{project.vote_ratio}}% votes</td>
            <td>{{project.date_time}}</td>
            <td><a href="{% url 'project' project.id %}">{{project.title}}</a></td>
            
        </tr>
        {%endfor%}
    </table>   

    {% endblock %}
